
<h2>Danh sách Inventors</h2>

<!-- <table border="1" >

    <tr >
  
      <th>ID</th>
  
      <th>First Name</th>
  
      <th>Last Name</th>
  
      <th>Year of Birth</th>
  
  
    </tr>
  
    <tr *ngFor="let inventor of inventors">
  
      <td>{{ inventor.id }}</td>
  
      <td>{{ inventor.first }}</td>
  
      <td>{{ inventor.last }}</td>
  
      <td>{{ inventor.year }}</td>
  
    </tr>
  
  </table> -->
<!-- main/table/tr/td   -->
<main>
    <table style="border: 1; width: 50%; text-align: left;">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Year of Birth</th>
        </tr>
        <tbody id="list">

        </tbody>
    </table>
</main>
