<!DOCTYPE html>

<app-header></app-header>
<div class="container">
</div>

<app-inventor></app-inventor> 
<p></p>
<app-productlist></app-productlist>
<p></p>

<!-- <div>
  <p>{{Counter}}</p>
  <div>
    <button (click)="onClick()">Click me!</button>
  </div>  -->
   
  <!-- <app-thuc-hanh01></app-thuc-hanh01> -->

  <!-- <app-star [count] = Counter></app-star> -->
  <!-- <app-star #star></app-star>
  <div>
    <button (click) = "star.tang()">Tang</button>
    <button (click) = "star.giam()">Giam</button>    
  </div> -->

  <!-- <h1>Number la: {{star.count1}}</number></h1> -->

<!-- </div> -->






