<!-- <h3>Danh sách Products</h3> -->
<div class="card">
  <div class="card-header">
    <h4>Product list</h4>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <label class="col-2">Filter:</label>
      <input type="text" class="col-3" [(ngModel)]='filterValue' (input)='filter()'>
      <div class="col-7"></div>
    </div>
    <div class="row mb-4">
      <h2 class="col-12">Filter by: </h2>
    </div>
    <table border="1" style="width: 50%; text-align: center;">

      <tr>

        <th>Image</th>

        <th>ID</th>

        <th>Product</th>

        <th>Code</th>

        <th>Available</th>        

        <th>Description</th>

        <th>Price</th>

        <th>5 Star Rating</th>

      </tr>

      <tr *ngFor="let item of products">

        <td><img [src]="item.imageUrl" alt="Product Image" width="100"> </td>
        <td>{{ item.productId }}</td>
        <td>{{ item.productName }}</td>
        <td>{{ item.productCode }}</td>
        <td>{{ item.releaseDate }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.starRating }}</td>

        <!-- <td>
          <div class="crop" [style.width.px]="item.starRating*90/5" title="rating">
            <div style="width: 90px">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </td> -->
      </tr>
    </table>
  </div>
</div>

<!-- <table border="1" style="width: 50%; text-align: center;">

  <tr>

    <th>ID</th>

    <th>Product Name</th>

    <th>Product Code</th>

    <th>Release Date</th>

    <th>Price</th>

    <th>Description</th>

    <th>Star Rating</th>

    <th>ImageUrl</th>

  </tr>

  <tr *ngFor="let item of products">

    <td>{{ item.productId }}</td>
    <td>{{ item.productName }}</td>
    <td>{{ item.productCode }}</td>
    <td>{{ item.releaseDate }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.starRating }}</td>
    <td><img [src]="item.imageUrl" alt="Product Image" width="100"> </td>


  </tr>

</table> -->





<!-- 16/09 thực hành Entities/component -->

<!-- <div class="row">
    <div style="width: auto; margin-left: auto; margin-right: auto;">
      <div *ngFor="let Company of Congty; let i = index">
        <div [style.text-align]="i % 2 === 0 ? 'center' : 'left'">
          <h1>{{ Company.TenCongty }}</h1>
          <p>{{ Company.Diachi }}</p>    
          <p>{{ Company.Phone }}</p>      
          <img [src]="Company.imageUrl" alt="Product Image" width="100"> 
        </div>       
      </div>
    </div>
    <hr> -->

<!-- <h2>Danh sách sản phẩm</h2>
    <div *ngFor="let product of products; let i = index">
      <div [style.text-align]="i % 2 === 0 ? 'left' : 'left'">
        <h1>{{ product.description }}</h1>
        <div>
          <label>Điểm đánh giá:</label>
          <input type="number" (input)="getMark($event)"> -->
<!-- <input type="number" [{ngModel}]="getMark($event)"> -->
<!-- </div>
        <p>ID: {{ product.productId }}</p>
        <p>Tên sản phẩm: {{ product.productName }}</p>
        <p>Mã sản phẩm: {{product.productCode}}</p>
        <p>Ngày sản xuất: {{product.releaseDate}}</p>
        <p>Giá (chưa VAT): {{product.price}}</p>
        <p>Điểm đánh giá: {{filterValue}}</p>
        <img [src]="product.imageUrl" alt="Product Image" width="400">    
      </div>      
    </div> -->

<!-- <hr>
    <h2>Danh sách khách hàng</h2>
    <div *ngFor="let customers of Customer">
      <div>
        <h1>{{ customers.userId }}</h1>
        <p>Tên khách hàng: {{ customers.userName }}</p>
        <p>Email: {{ customers.email }}</p>
        <p>Phone: {{customers.phoneNumber}}</p>  
      </div>
    </div> -->